@font-face {
  font-family: 'Montserrat';
  src: url("./assets/font/Montserrat-Regular.ttf");
}

html {
  min-width: 350px;
  user-select: none;
}

body {
  background: linear-gradient(252.44deg, #6A3EC9 0%, #8658EA 100%);
  font-family: 'Montserrat', system-ui;
}
